.colorHeader {
  background-color: #7EA3CC;
}

.fontLato {
  font-family: 'Lato', sans-serif;
}

.link2 {
  color: #3E3E3D;
  text-decoration: none;
}
.link2:hover {
  color:#3E3E3D;
}

.btn:hover {
  background-color: rgb(212, 212, 212);
  border-style: outset;
  transition: 1s;
}


/* main.css */

.link1:hover {
  background-color: #F5F1e3;
  color: #3E3E3D;
  transition: 1s;
}
.fontAcme {
  font-family: 'Acme', sans-serif;
}

header {
  border-bottom: 2px solid #3E3E3D;
}

h1 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
h1 {
  font-size: 4rem;
}
header>h2 {
  font-size: 2.5rem;
}

}
.d-lg-block {
  width: 100%;
}

.link3:hover {
  color: #3E3E3D;
  background-color: #F5F1e3;
}