.imgDefil {
    position: relative;
    margin: 1vh 5vw 1vh 5vw;
    height: 75vh;
}
.imgCarousel {
    position: absolute;
    margin-top: 5vh;
    width: 85vw;
    height: 65vh;
    transition-property: opacity;
    transition-duration: 2s;
}
.isDone {
    opacity: 1;
}