.imgDefil {
    position: relative;
    margin: 1vh 7vw 1vh 7vw;
    height: 100vh;
}
.imgCarousel {
    position: absolute;
    margin-top: 5vh;
    width: 85vw;
    height: 65vh;
    transition-property: opacity;
    transition-duration: 2s;
}
.isDone {
    opacity: 1;
}